[submodule "joemath"]
	path = joemath
	url = git://github.com/expipiplus1/joemath.git
[submodule "glfw"]
	path = glfw
	url = git://glfw.git.sourceforge.net/gitroot/glfw/glfw
[submodule "glee"]
	path = glee
	url = git://glee.git.sourceforge.net/gitroot/glee/glee
